.BtnsBox {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;

  border-radius: 7px;
  background-color: #dcdcdc;
  margin: 100px auto;
  padding: 25px 100px;
  width: 500px;
}

.rightBtns,
.leftBtns {
  display: flex;
  gap: 20px;

  /* background-color: green; */
}
